body {
    color: #999;
}

.container {
    width: 480px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border: 2px solid black;
}

.hidden {
    display: none;
}